body,html{
  margin:0;
  width:100%;
  background-color:#242B2E
}
html{
    background-color: #242B2E;
}

.container {
    padding: 1em;
    max-width:750px;
    min-height:100vh;
    width:90%;
    margin: auto;
    box-sizing:border-box;
    background-color:rgb(16, 17, 17);
}

.row {
    margin:0;
    padding-left:20px;
}